{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
{% load custom_filters %}



<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Job List</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="text-center mb-4">Job Listings</h2>
    <div class="job_lists">
        <div class="row">
            {% for job in jobs %}
            <div class="col-lg-12 col-md-12">
                <div class="single_jobs white-bg d-flex justify-content-between align-items-center p-3 shadow-sm">
                    <div class="jobs_left d-flex align-items-center">
                        <div class="thumb">
                            <img src="{{ job.client.client_logo.url }}" alt="Job Icon" style="height:100px;width:100px;">
                        </div>
                        <div class="jobs_content ml-3">
                            <h4>{{ job.job_name }}</h4>
                            <div class="links_locat d-flex align-items-center">
                                <div class="location mr-3">
                                    <p><i class="fa fa-map-marker"></i> {{ job.client.company_location }}</p>
                                </div>
                                <div class="salary">
                                    <p><i class="fa fa-money"></i> {{ job.salary }} /-</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobs_right text-right">
                        <a href="{% url 'job_details' job.id %}" class="btn btn-primary">View More</a>
                    </div>
                    
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
